* {
  padding: 0;
  margin: 0;
}

html, body {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #ffffff;
  color: #321838;
  display: flex;
  flex-direction: column;
}

header,
footer {
  background-color: #321838;
  color: white;
  padding: 1rem;
  text-align: center;
}

main {
  padding: 2rem;
  flex: 1;
}

.title {
  font-family: monospace;
  display: flex;
  align-items: center;
  font-weight: bolder;
  margin: 0;
  margin-left: -30px;
  font-size: 1.5rem;
  color: white;
}

.container {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 10px 30px;

}

.search {
  flex: 1;
  display: flex;
  justify-content: center;
}

.search form {
  display: flex;
  align-items: center;
}

.search input[type="text"] {
  width: 500px;
  padding: 6px;
  border-radius: 20px 0 0 20px;
  border: 1px solid #ccc;
  outline: none;
}

.search button {
  padding: 6px 10px;
  border: 1px solid #ccc;
  border-left: none;
  background-color: white;
  color: black;
  border-radius: 0 20px 20px 0;
  cursor: pointer;
}


.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions a {
  text-decoration: none;
  color: #d9cadb;
  font-size: 14px;
}

.actions a :hover {
  color: #ffffff;
}

.icone-teste {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 2px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

body {
  margin: 0;
  font-family: sans-serif;
  background: #fff;
}

.dashboard {
  padding: 40px;
  display: flex;
  flex-direction: column;
  position: relative;
}

.greeting {
  margin-bottom: 40px;
  color: #2c003e;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 150px);
  gap: 20px;
  justify-content: start;
}

.card {
  height: 100px;
  border-radius: 16px;
  color: white;
  font-weight: bold;
  text-align: center;
  padding: 16px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
  line-height: 1.4;
  font-size: 16px;
  cursor: pointer;
  transition: transform 0.2s;
}

.card:hover {
  transform: scale(1.05);
}

.vermelho {
  background: #e57373;
}

.rosa {
  background: #f06292;
}

.roxo {
  background: #ba68c8;
}

.amarelo {
  background: #dce775;
  color: #333;
}

.verde {
  background: #81c784;
}

.mascote {
  position: absolute;
  top: 0;
  right: 40px;
  width: 400px;
  margin-top: -40px;
  margin-right: -70px;
}


.wrapper {
  flex: 1;
}

/* Fundo escuro ao abrir o modal */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  font-size: 15px;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  justify-content: center;
  align-items: center;
}

/* Caixa do modal */
.modal-content {
  background: #ffe6f2;
  padding: 50px;
  border-radius: 10px;
  width: 400px;
  height: 450px;
  position: relative;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
}

.model-content .input-container label{
  display: block; /* Faz o label ocupar a linha toda */
  margin-bottom: 5px; /* Espaço entre label e input */
}

.modal-content input, .modal-content input:active{
  color: #090D1F;
  background-color: #E7E7E7;
  padding: 5px;
  border-radius: 8px;
  border-style: none;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.modal-content input:focus-visible {
  outline: none; /* Remove a borda de foco padrão */
  border: none;  /* Remove a borda do input */
  box-shadow: none; /* Remove qualquer sombra */
}

#titulo-cadastro {
  font-size: 20px;
  margin-bottom: 10px;
}

.input-container {
  display: flex;
  flex-direction: column; /* Coloca os itens em coluna */
  gap: 3px; /* Espaço entre label e input */
  margin-bottom: 15px;
}

.input-container-menor{
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;
  }

  input[type="date"] {
    appearance: none; /* Remove o estilo padrão do navegador */
    -webkit-appearance: none;
    -moz-appearance: none;
    
    color: #333;
    cursor: pointer;
}

.botoes{
  display: flex;
  gap: 5px;
}

/* Botão de fechar */
.close {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 24px;
  cursor: pointer;
}

/* Botão de cadastro */
.register-btn, .cancel-btn{
  background: #b64675;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border-radius: 5px;
}

.cancel-btn{
  background: #62575b;

}


.toast {
  visibility: hidden;
  min-width: 250px;
  background-color: #4CAF50;
  color: white;
  text-align: center;
  padding: 16px;
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  z-index: 1000;
}
.toast.show {
  visibility: visible;
  animation: fadeIn 0.5s, fadeOut 1s 3s;
}
@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadeOut {
  from {opacity: 1;}
  to {opacity: 0;}
}